<template name="resultList">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Dog</th>
                <th>Class</th>
                <th>Mark</th>
                <th>Place</th>
                <th>Certificate</th>
                <th>Age Result</th>
                <th>Breed Result</th>
            </tr>
        </thead>
        <tbody>
      {{#each results}}
        {{> _result}}
      {{/each}}
        </tbody>
    </table>

</template>
